//Primaries1
$primaries1: #03a9f4;

$p1-l1:mix(#fff,$primaries1,40%);
$p1-l2:mix(#fff,$primaries1,75%);
$p1-l3:mix(#fff,$primaries1,90%);

$p1-d1:mix(#000,$primaries1,20%);
$p1-d2:mix(#000,$primaries1,50%);
$p1-d3:mix(#000,$primaries1,70%);

//Primaries2
$primaries2: #f75e2e;

$p2-l1:mix(#fff,$primaries2,40%);
$p2-l2:mix(#fff,$primaries2,75%);
$p2-l3:mix(#fff,$primaries2,90%);

$p2-d1:mix(#000,$primaries2,20%);
$p2-d2:mix(#000,$primaries2,50%);
$p2-d3:mix(#000,$primaries2,70%);

//Primaries3
$primaries3: #ecfa4d;

$p3-l1:mix(#fff,$primaries3,40%);
$p3-l2:mix(#fff,$primaries3,75%);
$p3-l3:mix(#fff,$primaries3,90%);

$p3-d1:mix(#000,$primaries3,20%);
$p3-d2:mix(#000,$primaries3,50%);
$p3-d3:mix(#000,$primaries3,70%);

//Primaries4
$primaries4: #656a70;

$p4-l1:mix(#fff,$primaries4,40%);
$p4-l2:mix(#fff,$primaries4,75%);
$p4-l3:mix(#fff,$primaries4,90%);

$p4-d1:mix(#000,$primaries4,20%);
$p4-d2:mix(#000,$primaries4,50%);
$p4-d3:mix(#000,$primaries4,70%);
