.sprite {
    background-image: url(../../../../img/sprite-icon/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-F {
    width: 34px;
    height: 34px;
    background-position: -5px -5px;
}

.sprite-G {
    width: 34px;
    height: 34px;
    background-position: -5px -49px;
}

.sprite-P {
    width: 34px;
    height: 34px;
    background-position: -5px -93px;
}

.sprite-T {
    width: 34px;
    height: 34px;
    background-position: -5px -137px;
}

