.bg-discount {
    background-image: url(../../../../img/bg_Discount.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.discount {
    padding-top: 55px;
    padding-bottom: 350px;
    h6 {
        text-align: center;
        margin-bottom: 30px;
    }
    h2 {
        text-align: center;
        margin-bottom: 30px;
    }
    p {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 660px;
        text-align: center;
        color: #fff;
    }
}

.Testmonials {
    padding-top: 270px;
    padding-bottom: 45px;
    h6.Header00 {
        text-align: center;
        margin-bottom: 26px;
    }
    h2 {
        text-align: center;
        margin-bottom: 50px;
    }
    .slide-item {
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
        }
        p {
            font-size: 14px;
            text-align: center;
            margin-bottom: 50px;
        }
        h6 {
            font-weight: bold;
        }
    }
// Картинка дисконту з повітряною кулею і ножницями
}
.discount {
    position: relative;
}
.DiscountTRY {
    position: absolute;
    top: 270px;
    right: 70px;
}
.Balloon {
    position: absolute;
    top: 600px;
    right: 80px;
}
.scissors {
    position: absolute;
    top: 425px;
    right: 403px;
}



// Настройкі карусєлі
.carousel-inner {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.carousel-control-next {
    justify-content: flex-end;
}
.carousel-control-prev {
    justify-content: flex-start;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
}
.carousel-control-next-icon {
    background-image: url(../../img/right.png);

}
.carousel-control-prev-icon {
    background-image: url(../../img/prev.png);
}
.carousel-control-next-icon:after
{
  content: '';
  font-size: 55px;
}

.carousel-control-prev-icon:after {
  content: '';
  font-size: 55px;

}
