.Welcome {
    padding-left: 35px;
    div.row {
        padding-top: 91px;
        padding-bottom: 90px;
        img {
            width: 515px;
            height: 415px;
            padding-right: 30px;
        }
        .Welcome_txt {
            padding-left: 20px;
            h6 {
                padding-left: 50px;
                padding-top: 6px;
                margin-bottom: 33px;
            }
            h1 {
                font-size: 35px;
                margin-bottom: 40px;
            }
            p {
                font-size: 12px;
                line-height: 1.5;
                margin-bottom: 22px;
            }
        }
    }
}

  